source https://api.nuget.org/v3/index.json
source https://www.nuget.org/api/v2

nuget Bottles
nuget FubuCore 1.3.0.278
nuget FubuLocalization 1.1.0.182
nuget FubuMVC.Core
nuget FubuMVC.Core.View 1.1.0.581
nuget FubuMVC.Katana 1.3.0.1710
nuget FubuMVC.OwinHost 1.3.0.1710
nuget FubuMVC.Spark 1.1.0.594
nuget FubuMVC.StructureMap
nuget FubuTestingSupport
nuget HtmlTags 2.1.0.183
nuget Npgsql 3.2.0
nuget Newtonsoft.Json 9.0.2-beta2
nuget Microsoft.Extensions.Logging 1.1.0
nuget Microsoft.Extensions.Logging.Abstractions 1.1.0
nuget Marten
nuget MongoDb
nuget RhinoMocks 4.0.0-alpha3
nuget Owin 1.0.0.0
nuget Selenium.RC 2.43.1
nuget Selenium.Support 2.43.1
nuget Selenium.WebDriverBackedSelenium 2.43.1
nuget Serenity
nuget Spark 1.7.5.3
nuget Storyteller2 2.0.0.46
nuget structuremap 2.6.3
nuget structuremap.automocking 2.6.3