<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="MongoDbSettings.Url" value="mongodb://localhost:8090/"/>
    <add key="MongoDbSettings.DatabaseName" value="localmongodb"/>
    <add key="MongoDbSettings.ElementAttributesCollectionName" value="elementTypeAttributes"/>
  </appSettings>
  
  <location path="Content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="_content" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="fubu-content">
    <system.web>
    </system.web>
  </location>
</configuration>
