@import 'typecolors';

@mixin tableMultiplierColorsSelected() {
  &.strong {
      background: #FF8080;
      color: white;
  }
  &.weak {
      background: #FFFFD0;
      color: black;
  }
  &.immune {
      background: darkgray;
      color: white;
  }
}

$selectedBorder: 1px solid darkgreen;

@mixin tableMultiplierColorsUnselected() {
    &.strong {
        background: #FF0000;
        color: white;
    }
    &.weak {
        background: #FFFFA0;
        color: black;
    }
    &.immune {
        background: #808080;
        color: white;
    }
}

$typeBorder: 2px solid black;

.stat-table {
    background: whitesmoke;
    border-spacing: 0px;
    border: $typeBorder;

    @include typeColors();

    .body-cell {
        &.selected {
          cursor: default;
          background: #AFFFE0;
          color: black;

          @include tableMultiplierColorsSelected();

          &.vert-selected {
              border-left: $selectedBorder;
              border-right: $selectedBorder;
          }

          &.horiz-selected {
              border-top: $selectedBorder;
              border-bottom: $selectedBorder;
          }

          &.horiz-selected.vert-selected {
            border: 0px;
          }
        }

        @include tableMultiplierColorsUnselected();
    }

    $hoverBackgroundColor: #6890f0;
    $hoverBorder: 1px solid #0F0E77;

    .cell {
        padding: 6px;
        text-align: center;
        width: 50px;
        &.body-cell {
            border: 1px solid #C4C4C4;
        }
    }

    .hover {
      .body-cell, &.body-cell {
        color: white;
        background: $hoverBackgroundColor;
      }
      
      &.body-row {
        .body-cell {
            border-top: $hoverBorder;
            border-bottom: $hoverBorder;
            &.hover {
                border: 0px;
            }
        }
      }

      &.body-cell {
        cursor: pointer;

        @include tableMultiplierColorsSelected();
        
        border-left: $hoverBorder;
        border-right: $hoverBorder;
      }
    }

    .row {
        .type-cell {
            font-weight: bold;
            cursor: default;
        }

        &.body-row {
            .type-cell {
                border-right: $typeBorder;
            }

            &:not(:last-of-type) {
                .type-cell {
                    border-bottom: $typeBorder;
                }
            }
        }

        &.header-row {
            .type-cell {
                border-bottom: $typeBorder;

                &:not(:last-of-type) {
                    border-right: $typeBorder;
                }
            }
        }
    }
}