@import 'typesidebar';
@import 'typescolumnlayout';
@import 'typedropdown';
@import 'addtypesform';

body {
    background: #6890f0;
}

.main-section {
    display: inline-block;
    margin: 1px;
}
